#TaskModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  box-shadow: 2px 4px 4px grey;
}

.form-group {
  margin: .5em;
  text-align: left;
}

.form-group > * {
  width: 90%;
  margin: .5em 0;
}

.form-group label {
  font-size: .75em;
}

.form-group input,
.form-group select {
  padding-left: .5em;
  line-height: 1.5em;
  font-size: 1em;
}