.button-link {
  font-size: 1em;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.button-link:hover {
  text-decoration: none;
}